<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}},</p>
  <p>We wanted to let you know that a password reset has been requested for your account.</p>
  <p>Click here to setup your new password:</p>
  <p>
    <a href="{{link}}">Set a new password.</a>
  </p>
  <p>If you recently made account changes, please disregard this message. However, if you did NOT make any changes to your account, we recommend you change your password and make appropriate corrections as soon as possible to ensure account security.</p>
  <p>Thank you! <br /><strong>GoBarber Support Team</strong></p>
</div>
